<ion-header>
  <ion-toolbar>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Descrição:</ion-label>
      <ion-input type="text" name="descricao" [(ngModel)]="model.descricao"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Intensidade:</ion-label>
      <ion-input type="text" name="intensidade" [(ngModel)]="model.intensidade"></ion-input>
    </ion-item>      
    <ion-item>
    <ion-label stacked>Data:</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" name="data" [(ngModel)]="model.data"></ion-datetime>
    </ion-item>  
  </ion-list>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button center ion-button block (click)="save()">Salvar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>